body{
    background-color: rgba(224, 168, 168, 0.928);
    color:black;
}

h1{
    text-align: center;
}
img{
    width: 300px;

}
.flex-container {
    display: flex;
    border-radius: 2px;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    justify-content: space-evenly;
}
