/* Raven Griffin
This is where I made the website look fancy */
#maintitle {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;

}

#c {
    text-decoration: line-through;
}

h1 {
    color: #A4A400;
    text-decoration: underline;
    background-color: #F0F0F0;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    font-size: 18pt;
    font-weight: normal;
}

body {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;
    background-image: url("csc300x-hw2/silverware.jpg")
}

pre {
    font-family: Georgia, Garamond, sans-serif;
}

ul {
    list-style-image: url('csc300x-hw2/pie_bullet.png');
}

div {
    border-bottom: 1px solid black;
}

a {
    color: #A4A400;
}

.Comments {
    background-color: #FFFFA8;
    font-style: italic;


}

.bold {
    font-weight: bold;
}

.Underline {
    text-decoration: underline;
}

.tooltip {
    position: relative;
    display: inline;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: antiquewhite;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
